.user-buttons {
  display: flex;
  height: 4rem;
  text-align: center;
  width: 100%;

  &__btn {
    border: 0.3rem solid;
    color: beige;
    cursor: pointer;
    flex: 1;
    font-size: 2rem;
    height: 100%;
    line-height: 4rem;
    margin: 0 1rem;
    border-radius: 10rem;
  }

  &__btn--true {
    border-color: #24cca8;
  }

  &__btn--false {
    border-color: #ff3f33;
  }
}