.user-buttons {
  display: flex;
  height: 4rem;
  text-align: center;
  width: 100%;

  &__btn {
    color: beige;
    cursor: pointer;
    flex: 1;
    font-size: 2rem;
    height: 100%;
    line-height: 4rem;
  }

  &__btn--true {
    background-color: #24cca8;
  }

  &__btn--false {
    background-color: #ff3f33;
  }
}