.start-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__high-score {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    text-align: center;
  }

  &__rules {
    text-align: center;
  }

  &__r__label {
    font-size: 1.4rem;
  }

  &__r__details {
    font-size: 1.2rem;
  }
}