@import '../../variables';

.start-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__high-score {
    font-size: 1.6rem;
    margin: 3rem;
    text-align: center;
  }

  &__hs__user {
    font-size: 1.8rem;
  }

  &__rules {
    text-align: center;
  }

  &__r__label {
    color: $yellow;
    font-size: 1.4rem;
  }

  &__r__details {
    font-size: 1.2rem;
  }
}

@media only screen and (max-height: 500px) {
  .start-container {
    margin: 1rem 0;
  }
  .start-container__high-score {
    margin: 1rem;
  }
}
