@import '../variables';

.my-app {
  border-radius: 0.5rem;
  height: 38rem;
  margin: 0 auto;
  padding: 2rem;
  width: 33rem;
}

.my-app__title {
  font-family: fantasy;
  font-size: 3rem;
  text-align: center;
  color: $blue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-app__logo {
  height: 6rem;
  width: 6rem;
  fill: $yellow;
}
