.my-app {
  background-color: #fee07c;
  border-radius: 0.5rem;
  height: 38rem;
  margin: 0 auto;
  padding: 2rem;
  width: 33rem;
}

.my-app__title {
  font-family: fantasy;
  font-size: 3rem;
  text-align: center;
}