@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $white;
}

html {
  font-size: 62.5%;
}

#root {
  align-items: center;
  background-color: $black;
  display: flex;
  height: 100vh;
}
